/* Removing Default Styling */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* *********** Default Styling Applied to All */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #A084CA;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2{
    margin-bottom: 1rem;
}

ul{
    list-style-type: none;
}


.container{
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 0 30px;
}

/* Styling The Navigation Bar */

.navbar{
    background-color: #B7C4CF;
    color: #fff;
    height: 3.75rem;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
}

.navbar a:hover{
    color: lightblue;
}

.navbar .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .nav{
    display: flex;
}

.nav li{
    margin-left: 1.25rem;
}

/* Styling The Header Section */

.header{
    background-color:#38E54D;
    color: #fff;
    min-height: 400px;  
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img{
    max-width: 400px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling The Section */

.boxes .container{
    display: flex;
    justify-content: space-between;
}

.box{
    flex: 1;
    background-color: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    padding: 15px 20px;
}

/* Styling The Footer */

.footer{
    background-color: #3474e6;
    height: 3.75rem;
}
.footer .container{
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}


/* Responsive Styling Using Media Query.. */

@media only screen and (max-width:768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container{
        display: block;
        text-align: center;
    }
}